.producto-carrito{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin: 0px 40px;
    padding: 10px 30px;
    border-radius: 5px;
}

.producto-carrito .boton{
    border: none;
    cursor: pointer;
    color: blue;
    padding: 0;
}

.producto-carrito :hover.boton{
    text-decoration: underline;
    color: red;
}